<div class="fixed bottom-0 left-0 right-0 flex items-center justify-between bg-black text-white h-16 text-xs custom-container lg:pl-20 lg:pr-20 pl-4 pr-4 mt-10">
    <span>© 2020 Uber Technologies Inc.</span>
    <div class="flex items-center text-center">
        <span class="mr-8">Politique de confidentialité</span>
        <span>Conditions d'utilisation</span>
    </div>
</div>
</body>
</html>