<footer class="h-24 bg-black mt-20">
    <div class="custom-container lg:pl-20 lg:pr-20 pl-4 pr-4 bg-black pt-10 pb-10">
        <div class="flex justify-between items-center">
            <a href="/"><img src="/images/open-eats-white.svg" alt="logo"></a>
            <span class="text-white text-base p-3">About Open Eats</span>
        </div>
        <hr class="border-white mt-6 mb-6">
        <div class="flex lg:flex-row flex-col justify-between items-center">
            <div class="flex items-center">
                <a href="//www.facebook.com/ubereats" class="p-3 pl-0">
                    <img alt="Facebook" width="16" height="16" role="img" src="/images/facebook.svg">
                </a>

                <a href="//www.twitter.com/ubereats" class="p-3">
                    <img alt="Twitter" width="16" height="16" role="img" src="/images/twitter.svg">
                </a>

                <a href="//www.instagram.com/ubereats" class="p-3">
                    <img alt="Instagram" width="16" height="16" role="img" src="/images/insta.svg">
                </a>
            </div>
            <div class="flex lg:flex-row flex-col items-center text-white text-sm">
                <span class="p-3">Privacy Policy</span>
                <span class="p-3">Terms</span>
                <span class="p-3">Pricing</span>
                <span class="p-3">© 2020 Open Eats Technologies Inc.</div>
        </div>
    </div>
    </div>
</footer>

<script src="/javascripts/main.min.js"></script>
</body>

</html>