<footer class="sticky h-24 bg-black mt-20">
    <div class="custom-container lg:pl-20 lg:pr-20 pl-4 pr-4 bg-black pt-10 pb-10">
        <div class="flex justify-between items-center">
            <a href="/"><img src="/images/open-eats-white.svg" alt="logo"></a>
            <span class="text-white text-base p-3">À propos d'Open Eats</span>
        </div>
        <hr class="border-white mt-6 mb-6">
        <div class="flex lg:flex-row flex-col justify-between items-center">
            <div class="flex items-center">
                <a href="//www.facebook.com/ubereats" class="p-3 pl-0">
                    <img alt="Facebook" width="16" height="16" role="img" src="/images/facebook.svg">
                </a>

                <a href="//www.twitter.com/ubereats" class="p-3">
                    <img alt="Twitter" width="16" height="16" role="img" src="/images/twitter.svg">
                </a>

                <a href="//www.instagram.com/ubereats" class="p-3">
                    <img alt="Instagram" width="16" height="16" role="img" src="/images/insta.svg">
                </a>
            </div>
            <div class="flex lg:flex-row flex-col items-center text-white text-sm">
                <span class="p-3">Politique de confidentialité</span>
                <span class="p-3">Conditions d'utilisation</span>
                <span class="p-3">© 2020 Open Eats Technologies Inc.</div>
        </div>
    </div>
    </div>
</footer>
<script src="/javascripts/network.min.js"></script>
<script src="/javascripts/yall.min.js"></script>
<script>document.addEventListener("DOMContentLoaded", yall);</script>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js').then((registration) => {
                
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                /*
                Notification.requestPermission(status => {
                    console.log('Notification permission status: ', status)
                });

                displayNotification();
                */
            }, (err) => {
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }

    function displayNotification() {
        if (Notification.permission === 'granted') {
            navigator.serviceWorker.getRegistration().then(reg => {              
                let options = {
                    body: 'C\'est très bon, oui.',
                    icon: 'images/mcdo.png',
                    vibrate: [100, 50, 100],
                    data: {primaryKey: 1}
                }
                reg.showNotification('Viens manger chez nous stp', options)
            });
        }
    }
</script>
</body>

</html>