<nav class="flex items-center justify-between flex-wrap pt-4 pb-4 relative h-20 z-10 lg:pl-20 lg:pr-20 pl-4 pr-4">
  <div class="text-white mr-10">
    <a href="/" class="flex items-center flex-shrink-0">
      <img src="/images/open-eats.svg" alt="logo" class="mr-2">
    </a>
  </div>
  <div class="flex">
    <div class="text-sm mr-8">
      <a href="/connexion">
        Se connecter
      </a>
    </div>
    <div class="text-sm">
      <a href="/inscription">
        S'inscrire
      </a>
    </div>
  </div>

</nav>