<nav class="flex items-center justify-between flex-wrap relative h-20 z-10 lg:pl-20 lg:pr-20 pl-4 pr-4">
  <div class="text-white mr-2">
    <a href="/" class="flex items-center flex-shrink-0">
      <img src="/images/open-eats.svg" alt="logo" class="mr-2">
    </a>
  </div>
  <div class="flex items-center">
    <% if (session) { %>
    <div class="dropdown inline-block relative ">
      <button class="bg-gray-200 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
        <span class="mr-0 md:mr-1">
          <div class="text-sm mr-6 flex items-center">
            <% if (session.photoURL) { %>
            <img src="<%= session.photoURL %>" alt="avatar" class="h-10 w-10 mr-3 rounded-full">
            <% } else { %>
            <img src="/images/avatar-guest@2x.png" alt="avatar" class="h-10 w-10 mr-3 rounded-full">
            <% } %>
            <span class="text-green-700 hidden md:block"><%= session.email %></span>
          </div>
        </span>
        <svg class="fill-current h-4 w-4 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
      </button>
      <ul class="w-full dropdown-menu absolute hidden text-black pt-1 shadow-md">
        <li>
          <span class="rounded-t bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">
            <div id="status-indicator" class="flex align-items">
              <svg height="16" width="16" class="mt-1 mr-2">
                <circle cx="8" cy="8" r="8" stroke-width="3" fill="#2f855a" />
              </svg>
              <span>En ligne</span>
          </span>
    </div>
    </li>
    <li><a class="bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap" href="/parametres">Paramètres</a>
    </li>
    <li><a class="rounded-b bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap"
        href="/deconnexion">Déconnexion</a></li>
    </ul>
  </div>
  <% } else { %>
  <div class="text-sm mr-8">
    <a href="/connexion">
      Se connecter
    </a>
  </div>
  <div class="text-sm">
    <a href="/inscription">
      S'inscrire
    </a>
  </div>
  <% } %>
  </div>

</nav>