<nav class="flex items-center justify-between flex-wrap bg-extinction pt-4 pb-4 relative z-10 border-b-2 pl-20 pr-20">
  <div class="text-white mr-10">
    <a href="/" class="flex items-center flex-shrink-0">
      <img src="/images/open-eat.svg" alt="logo" class="mr-2">
    </a>
  </div>
  <div class="block lg:hidden">
    <button id="nav-toggle"
      class="flex items-center px-3 py-2 border rounded text-grey border-grey-dark hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center hidden lg:w-auto" id="nav-content">
    <div class="w-full text-sm flex justify-between items-center">
      <div class="p-2 bg-gray-200 flex items-center">
        <svg class="" width="24px" height="24px" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" focusable="false"><path d="M17.5834 5.16602C14.5001 2.08268 9.50008 2.08268 6.41675 5.16602C3.33341 8.24935 3.33341 13.3327 6.41675 16.416L12.0001 21.9993L17.5834 16.3327C20.6667 13.3327 20.6667 8.24935 17.5834 5.16602ZM12.0001 12.416C11.0834 12.416 10.3334 11.666 10.3334 10.7493C10.3334 9.83268 11.0834 9.08268 12.0001 9.08268C12.9167 9.08268 13.6667 9.83268 13.6667 10.7493C13.6667 11.666 12.9167 12.416 12.0001 12.416Z" fill="#000000"></path></svg>
        <input class="bg-gray-200 w-64 pl-2" autocomplete="off" placeholder="Rechercher" value="">
      </div>
      <a href="/connexion">
        Se connecter
      </a>
    </div>
  </div>
</nav>