@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-green {
    background-color: #66D19E !important;
}

.banner-red {
    background-color: #d16666 !important;
}

.banner-pink {
    background-color: #ca66d1ab !important;
}

.banner-purple {
    background-color: #8066d1 !important;
}

.banner-yellow {
    background-color: #d1bf66 !important;
}

.bg-green-uber {
    background-color: #3e9920;
}

.banner-height {
    height: 415px;
}

.w-security {
    width: 550px;
}

.restaurant-height {
    height: 380px;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recruit-height {
    height: 315px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.h-full-custom {
    min-height: calc(100vh - 14rem);
}

.h-full-custom-parameters {
    min-height: calc(100vh - 16.5rem);
}

.trailing-dots {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
