@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-green {
    background-color: #66D19E;
}

.bg-green-uber {
    background-color: #3e9920;
}

.banner-height {
    height: 415px;
}

.w-security {
    width: 550px;
}

.restaurant-height {
    height: 380px;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recruit-height {
    height: 315px;
}
