<div id="ordered-modal" class="pt-3 mb-2 p-4 bg-green-200 border-l-4 border-green-500 text-green-700" style="display: none">
    <span id="ordered-title" class="font-bold">Si ce message apparait</span> : <span id="ordered-body">c'est qu'on a mal codé un truc.</span>
</div>